@import 'vendor/casper';
@import 'syntax';

// Overwrite some styles from casper.css
pre {
  background: transparent;
  border-style: none;
  padding: initial;
}

.site-head{
  background: #c0392b;
}
.post-title{
  color: black;
}
